@charset "utf-8";
/* CSS Document */

header {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 500;
    font-size: 55px;
    font-style: normal;
    letter-spacing: 5px;
    color: rgba(19,31,159,1.00);
}

body {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30%;
    letter-spacing: 1px;
    background-image: url("gradient.png");
    background-size: cover;
}


nav{
    float: left;
}

.logo {
    width: 8%;
    padding-right: 10px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.info {
    float: left;
    max-width: 25%;
}

a {
    color: rgba(19,31,159,1.00);
    font-size: 25px;
    line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.column {
  float: right;
  width: 40%;
  padding: 10px;
}

.column img {
  margin-top: 14px;
    max-width: 100%;
}

.row:after {
  display: table;
  clear: both;
}

footer {
    font-family: forma-djr-deck, sans-serif;
    font-weight: 400;
    font-size: 80%;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    line-height: 100%;
    clear: both;
    padding-top: 50px;
}