@charset "utf-8";
/* CSS Document */
body{font-family: opake, sans-serif;
font-weight: 900;
font-style: normal;}

header
{background-color: aqua}

.column1
{background-color: darkgreen;
width: 48%;
float: left;
font-size: 340.70%}

.column2
{background-color: red;
width: 48%;
float: left}

.column2 img
{width: 70%;
height: auto}

.imagecontainer{}

.imagecontainer img
{width: 100%
;height: auto}

.clearfloat
{clear: both}

.images
{background-color: green;}

footer
{background-color: blue}

h1
{font-family: mythos-std, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 5vw;
margin: 0}