@charset "utf-8";
/* CSS Document */

body {
	font-family: hero-new, sans-serif;

	font-weight: 300;

	font-style: normal;



}

header {
	background-color: bi;
	text-align: center;
	font-size: 200%
	
}


.column1 {
	background-color: white; 
	width: 50%;
	float: left;
	font-size: 300%;
}

.column2 {
	background-color: white;
	width: 50%;
	float: left;
	font-weight: bold;
	
}

.column2 img {
	width: %;
}

.images {
	background-color: darkkhaki;
}

footer {
	background-color: bisque;
	clear: both;
}

h1 {
	font-family: filicudi-color-pride, sans-serif;
	
	font-size: 500;
	
	text-align: center;
	
	font-weight: 700;
}


	
.imagecontainer {
	width: 30%;
	float:left;
}

.imagecontainer img {
	width: 133%
}
