@charset "utf-8";
/* CSS Document */

.top {
	background-color:rgba(52,52,52,1.00);
}

.logo img{
	width: 100%;
	height: auto;
}

.logo {
	float: left;
	width: 15%;	
	margin-top: -10px;
}

header {
	background-color: rgba(200,247,255,1.00)
}

nav {
	font-family: signo, sans-serif;
	font-weight: 200;
	font-style: normal;
	text-align: left;
	word-spacing: 1.5em;
	font-size: 140%;

	/* This makes the area the bar takes up larger. */
	background-color: rgba(200,247,255,1.00);
	padding-top: 20px;
	/* VERY IMPORTANT ^ that makes the text move down by making the top margin larger!*/
	color: black;
	
	
	
	
	/* How do I increase the size of the blue bar? How do I put my shopping cart and profile icons on the right and still have everything balanced in the middle? */
}

nav a:link {
	color: black;
}

a:link {
	text-decoration: none;
	/* Removed the underlines on the Nav elements. */
}

a:visited {
	color:rgba(66,66,66,1.00);
}

a:hover {
	color:rgba(219,138,36,1.00)
}

.bar {
	background-color: rgba(12,12,12,1.00);
	height: 40px;
	/*Made this taller, but the searchbar is not centered.*/
}
.search {
	background-color:rgba(52,52,52,1.00);
	background-size: cover;
	color: white;
	margin-left: 400px;
	margin-right: 400px;
	
	/* Where do I put the search icon?*/
}

.phrase {
	font-family: signo, sans-serif;
	font-weight: 700;
	font-style: normal;
	position: absolute;
	color: white;
	font-size: 38pt;
	margin-top: 80px;
	left: 10%;
	/* VV This moves the text above the image. */
	z-index: 99;
	margin-left: 100px;
}

.name {
	font-family: minion-pro, serif;
	font-weight: 400;
	font-style: normal;
	color: white;
	font-size: 15pt;
	/*text-align: right; Trash, float makes the text correct.*/
	float: right;
	margin-top: 400px;
	margin-right: 300px;
	z-index: 99;
	position: absolute;
	right: 1%
}

.illustrator {
	margin-top: -15px;
}

.overlay {
	background-color: gray;
	
	
}

.bgimg {
	mix-blend-mode: multiply;
	width: 100%;
	overflow: hidden;
}

.forest {
	width: 1418px;
	height: 520px;
	object-fit: cover;
}

/* -------------Bottom part of the website!!------------------*/
.bar2 {
	background-color: rgba(200,247,255,1.00);
	height: 20px;
}

.illustrationleft {
	float: left;
	width: 20%;	
}

.illustrationleft img {
	width: 100%;
	height: auto;
}

.wtext {
	text-align: center;
	font-family: agenda, sans-serif;
	font-weight: 400;
	font-style: normal;
	float: left;
	width: 54%;
	padding: 3%;
	/*This is 6%*/
	background-color: rgba(93,93,93,1.00);
}

.wtext h4 {
	border-bottom: 1px solid black;
	padding-bottom: 20px;
}

.illustrationright {
	float: right;
	width: 20%;
	
}

.illustrationright img {
	width: 100%;
	height: auto;
/*	bottom: 0px;
	position: relative;
	right: 0px;*/
}

.bottom {
	background-color:black;
	height: 723px
}

.imagegroup1 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


/*.imagegroup1 img {
	width: 100%;
	height: auto;
}*/


.galleryimg, .merchimg, .commissionsimg {
	float:left;
	width: 30%;
	margin: 1.5%;
}

.galleryimg img, .merchimg img, .commissionsimg img {
	width: 100%;
	height: auto;
}



.merchimg {
	
}

.commissionsimg {
}

.imagenavs {
	text-align: center;
	font-size: 30px;
}

/* Test
.imagenavs	span {
    background-color: white;
    padding-right: 10px;
}

.imagenavs:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    height: 10px;
    border: 3px white;
    z-index: -1;
} 
*/


.button {
	position: absolute;
	margin-top: -170px;
	margin-left: -66px;
	text-align: center;
	width: 20%;
}

.imagegroup1 a:link {
	color: white;
	font-weight: 700;
	width: 10%;
	display: inline-block;
	border: 2px solid rgba(255, 255, 255, 1)
}

.imagegroup1 a:hover {
	background-color: rgba(46,46,46,0.70)
}

a:link {
	color: white;
}

.merch {
	margin-left: 10px;
}

footer {
	background-color: black;
	height: 150px;
	padding-top: 20px;
	color: white;
	text-align: left;
}

.email {
	width: 30%;
	float: left;
	margin-left: 20px;
	border-bottom: 1px solid white;
	
}

.supportmenu, .aboutmenu {
	width: 15%;
	float: right;
}

/*Notes for my project: Why are there white lines separating the sections? How do I make the images line up at the bottom so they're all side by side? How do I stretch my text out at the top? When I do it teleports downwards. This isn't that big a deal, I guess.
I can not manage the footer content until I have completed these other steps first. Float element does nothing. I was kind of hoping they'd overlap so I could manually place them away using a margin. 
Also, how do I place the link text on top of the alligned images? Decorative boxes around them?*/

/* Just in case...*/
.clearfloat {
	clear: both;
}