@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial;
	background-image: url("Links/kseniya-lapteva-I2Dv6DG5L6E-unsplash.jpg");
    background-size: cover;
    background-position: center;
	margin: 0;
}
.container {
	width: auto;
	margin-left: auto;
	margin-right: auto;
	place-content: center;
}
.container img {
	display: block;
    width: 15%;
	margin-left: auto;
	margin-right: auto;
}
a:link {
	color: black;
}
h1 {
	color: black;
	text-align: center;
	font-size: 1.5vw;
	font-family: 'Freckle Face', cursive;
}
	nav {
    color: black;
	text-align: center;
	text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 150%;
    font-weight: normal;
	}
.column1 {
	 background-image: linear-gradient(to top, rgba(255,0,0,0), white, white, rgba(255,255,255,1));
}
.column1 img {
	width: 100%;
	opacity: 0.75;
	height: auto;
}
p {
	color: black;
		text-align: center;
		font-family: 'Bubblegum Sans', cursive;
		font-size: 2vw;
		font-style: normal;
}
	h2 {
		color: black;
		text-align: center;
		font-size: 5vw;
		margin: 0;
		font-family: 'Permanent Marker', cursive;
		font-weight: normal;
	}
.column2 {
	align-content: center;
}
p2 {
	color: black;
	text-align: center;
	font-family: 'Bubblegum Sans', cursive;
	font-size: 2vw;
	font-style: normal;
}
.column2 img {
	display: block;
    width: 15%;
	margin-left: auto;
	margin-right: auto;
}
h3 {
		color: black;
		text-align: center;
		font-size: 4vw;
		margin: 0;
		font-family: 'Freckle Face', cursive;;
		font-weight: normal;
	}
	h4 {
		color: black;
		text-align: center;
		font-size: 5vw;
		margin: 0;
		font-family: 'Permanent Marker', cursive;
		font-weight: normal;
	}
.grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column: span 5;
	grid-gap: 10px;
	align-items: center;
	justify-items: center;
}
	.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
	}
	h5 {
		color: black;
		text-align: center;
		font-size: 5vw;
		margin: 0;
		font-family: 'Permanent Marker', cursive;
		font-weight: normal;
	}
  .myForm > * {
   font-family: 'Bubblegum Sans', cursive; 1.4em; 
  }
  .myForm {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: .8em;
    background: #79D0E6;
    padding: 1.2em;
  }
  .myForm > label  {
    grid-column: labels;
    grid-row: auto;
  }
  .myForm > input,
  .myForm > textarea,
  .myForm > button {
    grid-column: controls;
    grid-row: auto;
    border: none;
    padding: 1em;
  }
  .myForm > button {
    background: #1EA5DE;
    color: white;
    }
	h6 {
		color: black;
		text-align: center;
		font-size: 5vw;
		margin: 0;
		font-family: 'Permanent Marker', cursive;
		font-weight: normal;
	}
.column6 {
	float: center;
  width: 25%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column6 img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 5%;
}
footer{
	
}
